<%= form_for campu, :url => {:controller => "campus", :action => "update"} do |f| %>
  <% if campu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(campu.errors.count, "error") %> prohibited this campu from being saved:</h2>

      <ul>
      <% campu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% f.hidden_field :school_id, value: params[:school_id] %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit "Enregistrer" %>
  </div>
<% end %>
