<h1>Campus</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>School</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campus.each do |campu| %>
      <tr>
        <td><%= campu.name %></td>
        <td><%= campu.school_id %></td>
        <td><%= link_to 'Show', school_campu_path(id: params[:school_id]) %></td>
        <td><%= link_to 'Edit', edit_school_campu_path(params[:school_id], campu) %></td>
        <td><%= link_to 'Destroy', school_campu_path(id: params[:school_id]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campu', new_school_campu_path %>
